name: CI

on:
  push:
    branches: [ main, dev]
  pull_request:
    branches: [ main, dev]

jobs:
  backend:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres" 
          --health-interval 10s 
          --health-timeout 5s 
          --health-retries 5
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Docker version
        run: docker --version

      - name: List Backend folder
        run: ls -la Backend

      - name: Start services
        run: |
          cd Backend
          docker compose up -d --build
          docker compose ps

      - name: Apply migrations
        run: |
          cd Backend
          docker compose exec web python manage.py migrate

      - name: Run backend tests
        run: |
          cd Backend
          docker compose exec web python manage.py test

